

.contact {
    margin-top: 180px;
    color: #ccc;
    line-height: 30px;
    margin-bottom: 70px;
}

.contact-title {
    text-align: center;
    margin-bottom: 30px;
}

.contact-detail {
    margin-left: 50px;
    width: 50%
}
.contact-end {
    font-size: 18px !important;
}



@media screen and (max-width: 400px){
    .contact {
        text-align: center;
        margin-top: 120px;
        color: #ccc;
        line-height: 20px;
        margin-bottom: 70px;
        font-size: 11px;
    }
    .contact-end {
        font-size: 13px !important;
    }
    .contact-detail {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }
}