

.contact {
    margin-top: 180px;
    color: #ccc;
    line-height: 30px;
    margin-bottom: 70px;
    text-align: center;
}

.contact-title {
    text-align: center;
    margin-bottom: 30px;
}

.contact-detail {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
}




@media screen and (max-width: 400px){
    .contact {
        text-align: center;
        margin-top: 120px;
        color: #ccc;
        line-height: 20px;
        margin-bottom: 70px;
        font-size: 11px;
    }
    .contact-end {
        font-size: 13px !important;
    }
    .contact-detail {
        width: 100%;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1300px){
    .contact {
        margin-top: 120px;
        color: #ccc;
        line-height: 20px;

    }   

    .contact-detail {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}