.side-projects {
    margin-top: 300px;
    color: #fff;
    
}

.projects-title {
    text-align: center;
    color: #fff;
}

.projects-wrapper {
    margin-top: 300px;
}

@media screen and (max-width: 400px){
    .projects-wrapper {
        margin-top: 170px;
    }
}